/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.woff') format('woff'), /* Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/tap-tailwind/dist/fonts/roboto-v19-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

@tailwind base;

body {
  @apply text-gray-600;
}

h1 {
  @apply text-6xl;
  @apply text-gray-800;
}
h2 {
  @apply text-4xl;
  @apply text-gray-800;
}
h3 {
  @apply text-2xl;
  @apply text-gray-800;
}
h4 {
  @apply text-xl;
  @apply text-gray-800;
}

h5 {
  @apply text-lg;
  @apply text-gray-800;
}

h6 {
  @apply text-gray-800;
}

@tailwind components;

.btn {
  @apply text-white;
  @apply border-0;
  @apply py-2;
  @apply px-6;
  @apply rounded;
  @apply leading-tight;
}
.btn:focus {
  @apply outline-none;
}

.btn-blue {
  @apply bg-tap-blue-500;
}
.btn-blue:hover, .btn-blue:focus {
  @apply bg-tap-blue-800;
}
.btn-blue:active {
  @apply bg-tap-blue-200;
}

.btn-red {
  @apply bg-tap-red-500;
}
.btn-red:hover, .btn-red:focus {
  @apply bg-tap-red-800;
}
.btn-red:active {
  @apply bg-tap-red-200;
}

@tailwind utilities;
