{% if page.show_event_hero %}
<section class="uk-section uk-section-primary">
    <div class="uk-container">
            {% for event in site.events limit:1 %}
            <a href="{{ event.url }}">
                <h2 class="uk-margin-remove-bottom">{{ event.title }} <span uk-icon="icon: chevron-right; ratio: 2"></span></h2>
                <span class="uk-text-meta">
                    am
                    {% assign m = event.date | date: "%-m" %}
                    {{ event.date | date: "%-d" }}.
                    {% case m %}
                        {% when '1' %}Januar
                        {% when '2' %}Februar
                        {% when '3' %}M&auml;rz
                        {% when '4' %}April
                        {% when '5' %}Mai
                        {% when '6' %}Juni
                        {% when '7' %}Juli
                        {% when '8' %}August
                        {% when '9' %}September
                        {% when '10' %}Oktober
                        {% when '11' %}November
                        {% when '12' %}Dezember
                    {% endcase %}
                    {{ event.date | date: "%Y" }}
                    in der Pegelbar in Neuss
                </span>
            </a>
            {% endfor %}
    </div>
</section>
{% endif %}