<!-- FOOTER -->
<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
        <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <a href="https://twitter.com/{{ site.data.information.twitter }}" class="uk-icon-button" data-uk-icon="twitter" target="_blank"></a>&nbsp;
                    <a href="https://www.facebook.com/{{ site.data.information.facebook }}" class="uk-icon-button" data-uk-icon="facebook" target="_blank"></a>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% for link in site.menus.footer %}
                        <li class="{% if url == link.url %}uk-active{% endif %}">
                            <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}{% if link.childen %} data-uk-icon="chevron-down"{% endif %}>{{ link.title }}</a>
                            {% if link.childen %}
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% for child in link.children %}
                                <li><a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>{{ child.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <a class="uk-navbar-toggle uk-navbar-item uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
            </div>
        </nav>
    </div>
    
    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">&copy;{{ site.time | date: '%Y' }} {{ site.short_title }}</span>
    </div>
</footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; mode: push; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for link in site.menus.navigation %}
            <li class="{% if url == link.url %}uk-active{% endif %}{% if link.childen %} uk-parent{% endif %}">
                <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
                {% if link.childen %}
                <ul class="uk-nav-sub">
                    {% for child in link.children %}
                    <li><a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h4>Der n&auml;chste Talk</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<!-- /OFFCANVAS -->

<!-- JS FILES -->
<script src="{{ "/js/site.min.js" | absolute_url }}"></script>
</body>
</html>