<!-- FOOTER -->
<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
        <nav class="" data-uk-grid>
            <div class="uk-width-auto@m">
                <div class="uk-text-center uk-text-left@m">
                    <a href="https://twitter.com/{{ site.data.information.twitter }}" class="uk-icon-button" data-uk-icon="twitter" target="_blank"></a>&nbsp;
                    <a href="https://www.facebook.com/{{ site.data.information.facebook }}" class="uk-icon-button" data-uk-icon="facebook" target="_blank"></a>
                </div>
            </div>
            <div class="uk-width-expand">
                <ul class="uk-subnav uk-flex-center uk-flex-right@m">
                    {% for link in site.menus.footer %}
                        <li class="{% if url == link.url %}uk-active{% endif %}">
                            <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}{% if link.childen %} data-uk-icon="chevron-down"{% endif %}>{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
    
    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">&copy;{{ site.time | date: '%Y' }} {{ site.short_title }}</span>
    </div>
</footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; mode: push; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% for link in site.menus.navigation %}
            <li class="{% if url == link.url %}uk-active{% endif %}{% if link.childen %} uk-parent{% endif %}">
                <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
                {% if link.childen %}
                <ul class="uk-nav-sub">
                    {% for child in link.children %}
                    <li><a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h4>Der n&auml;chste Talk:</h4>
        {% assign sorted_events = (site.events | sort: 'date') | reverse %}
        {% for event in sorted_events limit:1 %}
        <a href="{{ event.url }}">
            <div class="uk-tile uk-tile-primary uk-tile-small">
                <h5 class="uk-margin-remove-bottom">{{ event.title }}</h5>
                <span class="uk-text-meta">am {{ event.date | date: '%d.%m.%Y' }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<!-- /OFFCANVAS -->

<!-- JS FILES -->
<script src="{{ "/js/site.min.js" | absolute_url }}"></script>
</body>
</html>
